/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');


@layer utilities {
  @responsive {
    .scrollbars-hidden::-webkit-scrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    }
  }
}

html {overflow: -moz-scrollbars-none;}

.Nouveau {
  opacity: 0.6;
  font-family: MetaPro;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 2.4px;
  color: #d3b668;
}


.Metapro {
  font-family: MetaPro;
}

.Dinot {
  font-family: DINOT;
}

.Firasans {
  font-family: FiraSans;
}


@media (min-width: 1300px) {
    .background { background-image: url(https://cdn.zeplin.io/6112533820990612beb64f0a/assets/6515da43-c277-427c-8f14-4d8d31a4813f.png); }
}

@media (min-width: 1300px) {
    .zoom { zoom: 170%; }
}

@media (min-width: 2100px) {
    .zoom { zoom: 230%; }
}


// .shadow {
// -webkit-box-shadow: 0px 50px 0px 0px #FFFFFF, 0px 180px 0px 0px #C5DDD1;
// box-shadow: 0px 50px 0px 0px #FFFFFF, 0px 80px 0px 0px #C5DDD1;
// }
